{% extends "mainblog/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %} Create New post {% endblock %}

{% block dynamicNav %}

{% endblock %}

{% block content %}

    <div class="container container-design">
        <div class="row">
            <div class="col-lg bg-dark border-secondary border
                            border-3">
                <h1 class="text-primary ">
                    Time to create a new post my dog.
                </h1>
                <h2>
                    What will you write? {{ request.user.username|capfirst }}
                </h2>
            </div>
        </div>
        {% if not finished %}
            <div class="row">
                <div class="col-lg">
                    <form method="post">
                        {% csrf_token %}
                        {% for hidden_field in draftForm.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                    {% for field in draftForm.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class="form-control bg-dark" %}
                        </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg">
                    <h1 class="text-success">
                        Your post has been posted.
                    </h1>
                    <h2 class="text-primary">
                        You should be proud.
                    </h2>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}